.placeholder_site{
    //text-align: center;
    padding-left: 40px;
}

.user{
    position: relative;
}
.user_icon{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
}

.key{
    position: relative;
}
.key_icon{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
}

.checkbox_size{
    min-width: 16px;
    min-height: 16px;
}
